<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WindowMaximized>false</WindowMaximized>
  <WindowHeight>752</WindowHeight>
  <WindowWidth>800</WindowWidth>
  <ProfileListWidth>250</ProfileListWidth>
  <Hotkey>S</Hotkey>
  <HotkeyModifierKeys>Alt Control</HotkeyModifierKeys>
  <GpuPreference>0</GpuPreference>
  <GpuPreferenceChangeCount>0</GpuPreferenceChangeCount>
  <SetupPhase>0</SetupPhase>
  <StartAsAdmin>false</StartAsAdmin>
  <StartAtWindowsStartup>true</StartAtWindowsStartup>
  <MinimizeToTray>true</MinimizeToTray>
  <CloseToTray>true</CloseToTray>
  <Language>System</Language>
  <Theme>System</Theme>
  <FrameGenerationCollapsed>false</FrameGenerationCollapsed>
  <CursorOptionsCollapsed>false</CursorOptionsCollapsed>
  <RenderingOptionsCollapsed>false</RenderingOptionsCollapsed>
  <CaptureOptionsCollapsed>false</CaptureOptionsCollapsed>
  <GpuDisplayOptionsCollapsed>false</GpuDisplayOptionsCollapsed>
  <CropInputOptionsCollapsed>false</CropInputOptionsCollapsed>
  <BehaviorCollapsed>false</BehaviorCollapsed>
  <LegacyOptionsCollapsed>false</LegacyOptionsCollapsed>
  <GameProfiles>
    <Profile>
      <Title>Default</Title>
      <AutoScale>false</AutoScale>
      <AutoScaleDelay>0</AutoScaleDelay>
      <ScalingMode>Auto</ScalingMode>
      <ScalingFitMode>AspectRatio</ScalingFitMode>
      <ScaleFactor>1.5</ScaleFactor>
      <ResizeBeforeScaling>false</ResizeBeforeScaling>
      <WindowedMode>false</WindowedMode>
      <ScalingType>LS1</ScalingType>
      <FSRType>ORIGINAL</FSRType>
      <LS1Type>PERFORMANCE</LS1Type>
      <LSFG2Mode>X2</LSFG2Mode>
      <LSFG3Mode1>FIXED</LSFG3Mode1>
      <LSFG3Multiplier>2</LSFG3Multiplier>
      <LSFG3Target>120</LSFG3Target>
      <LSFGFlowScale>70</LSFGFlowScale>
      <LSFGSize>PERFORMANCE</LSFGSize>
      <Anime4kType>S</Anime4kType>
      <Sharpness>5</Sharpness>
      <LS1Sharpness>1</LS1Sharpness>
      <VRS>false</VRS>
      <FrameGeneration>LSFG3</FrameGeneration>
      <ClipCursor>true</ClipCursor>
      <AdjustCursorSpeed>false</AdjustCursorSpeed>
      <HideCursor>false</HideCursor>
      <ScaleCursor>false</ScaleCursor>
      <SyncMode>DEFAULT</SyncMode>
      <MaxFrameLatency>3</MaxFrameLatency>
      <GsyncSupport>false</GsyncSupport>
      <HdrSupport>false</HdrSupport>
      <DrawFps>true</DrawFps>
      <CaptureApi>DXGI</CaptureApi>
      <QueueTarget>0</QueueTarget>
      <PreferredGpuId>0</PreferredGpuId>
      <OutputDisplayId>0</OutputDisplayId>
      <CropInput>false</CropInput>
      <CropInputLeft>0</CropInputLeft>
      <CropInputTop>0</CropInputTop>
      <CropInputRight>0</CropInputRight>
      <CropInputBottom>0</CropInputBottom>
      <MultiDisplayMode>false</MultiDisplayMode>
    </Profile>
  </GameProfiles>
</Settings>